/* 全局樣式 */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
    font-family: "標楷體";
}

/* 修改 header 样式 */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #acd6ff;
    color: white;
    padding: 0 20px; /* 添加左右内边距 */
    height: 90px; /* 确保高度一致 */
    font-family: "標楷體", serif;
}

/* 中间标题样式 */
.header h1 {
    flex: 1;
    text-align: center;
    font-size: 24px;
    margin: 0;
}

.header h1 a {
    color: white;
    text-decoration: none;
}

.section {
    border-bottom: 1px solid #ccc; /* 灰色底線 */
    padding-bottom: 10px; /* 與內容的間距 */
    margin-bottom: 20px; /* 與下一個分類的間距 */
}


h2 {
    margin-bottom: 20px; /* 增加标题与内容之间的间距 */
    font-size: 1.5rem; /* 根据需求调整标题字体大小 */
    color: #333; /* 标题颜色 */
}

.container {
    margin-top: 50px; /* 确保与导航栏不重叠 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background: white;
    max-width: 800px;
}


.info-item {
    margin-bottom: 15px; /* 增加底部间距 */
    font-size: 1rem;
    line-height: 1.5; /* 调整行高以增加可读性 */
}

.info-item strong {
    display: inline-block;
    width: 120px;
    color: #333;
}


.btn {
    display: inline-block;
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.modalcontent {
    background-color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 600px;
    text-align: center;
    position: relative;
    overflow: hidden; /* 防止滾動溢出 */
}

.scrollable-content {
    max-height: 300px; /* 設置內容最大高度 */
    overflow-y: auto; /* 添加垂直滾動條 */
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ccc; /* 添加邊框 */
    border-radius: 5px;
    text-align: left; /* 左對齊內容 */
    font-size: 14px; /* 可根據需求調整字體大小 */
    line-height: 1.5; /* 提高可讀性 */

}

.modal.hidden {
    display: none;
}

.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 600px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.checkbox-group label {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}
